<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Dev.Convertion</title>
    <meta name="author" content="André Viana">
    <meta name="description" content="Uma página web que converte números de outras bases para as bases solicitadas">
    <meta name="keywords" content="convertion, bases, site">
    <meta http-equiv="content-language" content="pt-br">
    <meta http-equiv="content-type" content="form/html; charset=iso-8859-1">
    <meta name="og:title" property="og:title" content="Página de conversão de bases númericas">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Converta números de base decimal para outras bases com apenas um clique!">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="shortcut icon" href="/favicon.ico" />
</head>

<body>
    <div class="header">
        <div class="content-header">
            <h1>Dev.convertion</h1>
            <div>
                <img src="/assets/icn-title.svg" alt="Ícone Cabeçalho" title="Ícone Cabeçalho">
            </div>
        </div>
    </div>

    <!--abre estrutura de controle para form-->
    <% if(url == '/') { %> 
        <%- include('parts/formDecimal') %> 
    <% } else if(url == ':2') { %> 
        <%- include('parts/formBinary') %> 
    <% } else if(url == ':8') { %> 
        <%- include('parts/formOctal') %> 
    <% } else if(url == ':16') { %>
        <%- include('parts/formHexadecimal') %>
    <% } %>   
    <!--fecha estrutura de controle para form-->

    <!--abre fotter-->
    <footer class="rodape">
        <a href="https://github.com/vianaandre" target="_blank">
            <img src="/assets/github.svg" title="Ícone do Github" alt="Ícone do Github"/>
            <p>
                Me siga no github
            </p>
        </a>
    </footer>
    <!--fecha fotter-->

</body>

</html>